<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/chitter.js"></script>
  </head>
  <body>
  	<div id="user_list_space">
  		<h2>Hi, <span id="name_span"></span>!</h2>
      <div id="user_list"></div>
<!--following incidence of the template removed after adding user listings dynamically-->
<!-- 
      <div class="active_user">
        <div class="user_color" style="background-color:#0033ff"></div>
        <h3 class="user_name" style="color:#0033ff;">Someone</h3>
        <div class="clear"></div>
      </div>
 -->
    </div>
    <div id="chat_space">
      <h2  id='welcome_text'>Welcome to <%= title %>.</h2>
      <button id='exit' class='right button'>LEAVE <%= title.toUpperCase() %></button>
      <div class='clear'></div>
      <div id="chitter_space"></div>
      <form id="form">
        <label>YOUR MESSAGE</label>
        <textarea id="message" rows="5" autofocus></textarea>
        <input type="submit" id='submit' class='button' value="SUBMIT" />
      </form>
  	</div>
    <script>
      function sizeChatElements(){        
        var browserDimensions={};
        var max_dimension;
        browserDimensions.x=$(window).width();
        browserDimensions.y=$(window).height();
        var containerDimensions={};
        containerDimensions.x=275;
        containerDimensions.y=225;
        var spacing={};
        var user_list_space_width=200;
        var button_width=100;
        var chat_width=browserDimensions.x-user_list_space_width;
        $(user_list_space)
          .css('height', browserDimensions.y);
        $(chat_space)
          .css('height', browserDimensions.y)
          .css('width', chat_width);
        $(welcome_text)
          .css('width', chat_width-button_width-10);
        $(exit)
          .css('width', button_width);
        $(submit)
          .css('width', button_width);
        $(message)
          .css('width', chat_width-button_width-10);
        $(chitter_space)
          .css('width', chat_width-10)
          .css('height', browserDimensions.y-150);
      } 
      $(document).ready(function(){
        sizeChatElements();
      });
      $(window).on('resize', sizeChatElements);
    </script>
  </body>
</html>