<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/chitter.js"></script>
  </head>
  <body>
  	<div id="user_list_space">
  		<h2 >Active Users</h2>
      <div id="user_list"></div>
<!--following incidences of the template were removed after adding these user listings dynamically-->
<!-- 
      <div class="active_user">
        <div class="user_color" style="background-color:#0033ff"></div>
        <h3 class="user_name" style="color:#0033ff;">Someone</h3>
        <div class="clear"></div>
      </div>
      <div class="active_user">
        <div class="user_color" style="background-color:#ff3300;"></div>
        <h3 class="user_name" style="color:#ff3300;">Someone else</h3>
        <div class="clear"></div>
      </div>
 -->
    </div>
    <div id="chat_space">
      <h2 style="color:#0033ff;" class='left'>Hi, <span id="name_span"></span>! Welcome to <%= title %></h2>
      <button id='exit' class='right'>Leave Chat Room</button>
      <div class='clear'></div>
      <form id="form">
        <label>Your message</label>
        <textarea id="message" rows="6"  style="width:80%;"></textarea>
        <input type="submit" id='submit' class='red' value="SUBMIT" />
      </form>
  	</div>
  </body>
</html>